* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    scroll-behavior: smooth;

}

.bg-white-custom {
    background-image: radial-gradient(circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
}

.bg-dark-custom {
    /*background: #23438e;*/
    background-color: #000022;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.padding-top-2em {
    padding-top: 2em;
}

#first-page {
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url(../../src/images/repair-img.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
    min-width: 100%;
    min-height: 100%;
}

#broken {
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url(../../src/images/iphone5broken2.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
    min-width: 100%;
    min-height: 100%;
}


.section-padding {
    padding: 1em 0;
}

.custom-hr,.custom-hr-dark {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 2em 0;
    border-radius: 50px;
}
.custom-hr-dark{
    background: grey;
}

.padding-h1-lines {
    position: relative;
    margin-bottom: 2em;
}

.padding-h1-lines:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 5px;
    background: #d39e00;
    bottom: -15px;
    left: 50%;
    margin-left: -50px;
}

.padding-h1-lines:after {
    position: absolute;
    content: "";
    width: 70px;
    height: 4px;
    background: #d39e00;
    bottom: -30px;
    left: 50%;
    margin-left: -35px;
}

.margin-top-25px {
    margin-top: -25px;
}

.bg-img {
    background-size: cover;
    background-image: url("../../src/images/repair-img.jpg");
    background-position: center;
    width: 100%;
    height: 250px;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-links li {
    margin: 0 10px;
}

.header-links li a {
    position: relative;
    color: #fff;
    transition: .3s;
}

.header-links li a:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    transition: .3s;
    opacity: 0;

}

.header-links li a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.header-links li a:hover:before {
    width: 100%;
    color: #429440;
    text-decoration: none;
    opacity: 1;
}

.header-numbers {
    display: flex;
    flex-flow: column;
}

.logo-img {
    padding: 10px;
    border-radius: 50px;
    width: 100px;
}

.fa-map-marker-alt {
    font-size: 20px;
    color: red;
    padding: 10px;
}
.contacts-bg{
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}

.fa-instagram,
.fa-phone,
.fa-facebook-square,
.fa-envelope,
.fa-whatsapp {
    font-size: 20px;
    color: white;
    padding: 7px 20px;
    width: 60px;
}
.phone-header{
    color: green;
    padding: 7px;
    width: 40px;
}
.contacts-phone{
    background: green;
}
.contacts-whatsapp{
    background: #1EBEA5;
}
.contacts-instagram{
    background: linear-gradient(341deg, #e1306c 0%,#c13584 59%,#833ab4 79%,#5851d8 90%,#405de6 100%);
}
.contacts-facebook{
    background: #4267B2;
}
.contacts-mail{
    background: #005FF9;
}
.fa-check {
    font-size: 20px;
    color: lawngreen;
    padding: 3px 10px 0 10px;
}
.contacts-row a:hover{
    text-decoration: none;

}
.m-bottom-1em {
    margin-bottom: 1em;
}

.fa-tools {
    font-size: 20px;
    padding: 3px 10px 0 10px;
}

.fa-plus {
    border-radius: 50px;
    border: 6px solid;
    color: limegreen;
    font-size: 3em;
    margin-left: 1rem;
    padding: 4px 6px;
}

.fa-cog {
    font-size: 15px;
    padding: 5px 10px;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fa-question-circle,
.fa-check-circle,
.fa-shield-alt,
.fa-book,
.fa-map-marked-alt,
.fa-users {
    color: limegreen;
    font-size: 4em;
    margin-left: 1rem;
}
.m-top-1em{
    margin-top: 1em;
}


.green-number {
    border-radius: 50px;
    background: #22b259;
    padding: 0 8px 0 8px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-arrow-left,
.fa-arrow-right {
    color: #fff;
    background: #22b259;
    padding: 4px 30px;
    border-radius: 5px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus {
    outline: none;
}

.phone-bg {
    transition: .3s;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #bbdae0;
    border-radius: 5px;
    padding: 0 10px 0 0;
    color: #fff;
    background: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4));
}

.phone-bg:hover {
    color: #fff;
    text-decoration: none;

}

#videos video {
    width: 300px;
    height: 300px;
    margin: auto;
}

.my-input {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

.my-input:focus {
    outline: none;
}

.form-btn {
    background: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

.topbutton {
    transition: .3s;
    z-index: 10;
    border: 2px solid #ccc;
    background: #f7f7f7;
    padding: 10px 13px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    border-radius: 50px;
    opacity: 0;
}

.fa-arrow-up {
    font-size: 20px;
}
