* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    scroll-behavior: smooth;

}

.bg-white-custom {
    background-image: radial-gradient(circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
}

.bg-dark-custom {
    background-color: #23ccbe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%2323ccbe' width='11' height='11'/%3E%3Crect fill='%2300cbbf' x='10' width='11' height='11'/%3E%3Crect fill='%2300c9c1' y='10' width='11' height='11'/%3E%3Crect fill='%2300c8c2' x='20' width='11' height='11'/%3E%3Crect fill='%2300c6c4' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2300c5c5' y='20' width='11' height='11'/%3E%3Crect fill='%2300c4c7' x='30' width='11' height='11'/%3E%3Crect fill='%2300c2c9' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2300c1cb' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2300bfcd' y='30' width='11' height='11'/%3E%3Crect fill='%2300bdcf' x='40' width='11' height='11'/%3E%3Crect fill='%2300bcd1' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%2300bad3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%2300b9d6' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2300b7d8' y='40' width='11' height='11'/%3E%3Crect fill='%2300b5db' x='50' width='11' height='11'/%3E%3Crect fill='%2300b4dd' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2300b2df' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2300b0e2' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%2300aee4' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2300ace7' y='50' width='11' height='11'/%3E%3Crect fill='%2300abe9' x='60' width='11' height='11'/%3E%3Crect fill='%2300a9ec' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2300a7ee' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2300a5f1' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2300a3f3' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2300a1f5' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23009ff7' x='70' width='11' height='11'/%3E%3Crect fill='%23009dfa' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23009bfc' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%230099fe' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%230097ff' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%230094ff' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%230092ff' x='80' width='11' height='11'/%3E%3Crect fill='%230090ff' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23008eff' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23008bff' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%230089ff' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%230086ff' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%230084ff' x='90' width='11' height='11'/%3E%3Crect fill='%230081ff' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23007eff' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23007cff' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%230079ff' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%230076ff' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%230073ff' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%230070ff' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23006cff' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%230069ff' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%230065ff' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%230062ff' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23005eff' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23005aff' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%230056ff' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%230051fe' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23004cfb' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%230047f8' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%230041f5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23003bf2' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%232834ee' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.main-title {
    color: #ffffff;
    padding-top: 6em;
}

#first-page {
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url(../../src/images/repair-img.jpg);
    background-position: center;
    width: 100%;
    min-height: 500px;
    min-width: 100%;
    height: 100vh;
}

#broken {
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url(../../src/images/iphone5broken2.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
    min-width: 100%;
    min-height: 100%;
}


.section-padding {
    padding: 1em 0;
}

.custom-hr, .custom-hr-dark {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 2em 0;
    border-radius: 50px;
}

.custom-hr-dark {
    background: grey;
}

.padding-h1-lines {
    margin-bottom: 1em;
}

.margin-top-25px {
    margin-top: -25px;
}

.bg-img {
    background-size: cover;
    background-image: url("../../src/images/repair-img.jpg");
    background-position: center;
    width: 100%;
    height: 250px;
}

.header-links-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
}

.header-li {
    margin: 5px;
}

.header-links {
    transition: .3s;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
}

.header-links:hover {
    color: #ffffff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
}

.header-numbers {
    display: flex;
    flex-flow: column;
}

.logo-img {
    padding: 10px;
    border-radius: 50px;
    width: 100px;
}

.fa-map-marker-alt {
    font-size: 20px;
    color: red;
    padding: 10px;
}

.contacts-bg {
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}

.fa-instagram,
.fa-phone,
.fa-facebook-square,
.fa-envelope,
.fa-whatsapp {
    font-size: 20px;
    color: white;
    padding: 7px 20px;
    width: 60px;
}

.phone-header {
    color: white;
    padding: 7px;
    width: 40px;
}

.contacts-phone {
    background: #1DB954;

}

.contacts-whatsapp {
    background: #1EBEA5;
}

.contacts-instagram {
    background: linear-gradient(341deg, #e1306c 0%, #c13584 59%, #833ab4 79%, #5851d8 90%, #405de6 100%);
}

.contacts-facebook {
    background: #4267B2;
}

.contacts-mail {
    background: #005FF9;
}

.fa-check {
    font-size: 20px;
    color: lawngreen;
    padding: 3px 10px 0 10px;
}

.contacts-row a:hover {
    text-decoration: none;

}

.m-bottom-1em {
    margin-bottom: 1em;
}

.fa-tools {
    font-size: 20px;
    padding: 3px 10px 0 10px;
}

.fa-plus {
    border-radius: 50px;
    border: 6px solid;
    color: limegreen;
    font-size: 3em;
    margin-left: 1rem;
    padding: 4px 6px;
}

.fa-cog {
    font-size: 15px;
    padding: 5px 10px;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fa-question-circle,
.fa-check-circle,
.fa-shield-alt,
.fa-book,
.fa-map-marked-alt,
.fa-users {
    color: limegreen;
    font-size: 4em;
    margin-left: 1rem;
}

.m-top-1em {
    margin-top: 1em;
}


.green-number {
    border-radius: 50px;
    background: #22b259;
    padding: 0 8px 0 8px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-arrow-left,
.fa-arrow-right {
    color: #fff;
    background: #22b259;
    padding: 4px 30px;
    border-radius: 5px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus {
    outline: none;
}

.phone-bg {
    transition: .3s;
    margin-bottom: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0 10px 0 0;
    color: #fff;
}

.phone-bg:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
}

#videos video {
    width: 300px;
    height: 300px;
    margin: auto;
}

.my-input {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

.my-input:focus {
    outline: none;
}

.form-btn {
    background: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

.topbutton {
    transition: .3s;
    z-index: 10;
    border: 2px solid #ccc;
    background: #f7f7f7;
    padding: 10px 13px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    border-radius: 50px;
    opacity: 0;
}

.fa-arrow-up {
    font-size: 20px;
}
