* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    scroll-behavior: smooth;

}

.bg-white-custom {
    background-image: radial-gradient(circle 343px at 46.3% 47.5%, rgba(242, 242, 242, 1) 0%, rgba(241, 241, 241, 1) 72.9%);
}

.bg-dark-custom {
    background: #23438e;
}

.padding-top-2em {
    padding-top: 2em;
}

#first-page {
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url(../../src/images/repair-img.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
    min-width: 100%;
    min-height: 100%;
}

#broken {
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4)), url(../../src/images/iphone5broken2.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
    min-width: 100%;
    min-height: 100%;
}

.section-padding {
    padding: 1em 0;
}

.custom-hr {
    width: 100%;
    height: 3px;
    background: #fff;
    margin: 2em 0;
}

.padding-h1-lines {
    position: relative;
    margin-bottom: 2em;
}

.padding-h1-lines:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 5px;
    background: #d39e00;
    bottom: -15px;
    left: 50%;
    margin-left: -50px;
}

.padding-h1-lines:after {
    position: absolute;
    content: "";
    width: 70px;
    height: 4px;
    background: #d39e00;

    bottom: -30px;
    left: 50%;
    margin-left: -35px;
}

.margin-top-25px {
    margin-top: -25px;
}

.bg-img {
    background-size: cover;
    background-image: url("../../src/images/repair-img.jpg");
    background-position: center;
    width: 100%;
    height: 250px;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-links li {
    margin: 0 10px;
}

.header-links li a {
    position: relative;
    color: #fff;
    transition: .3s;
}

.header-links li a:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    transition: .3s;
    opacity: 0;

}

.header-links li a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.header-links li a:hover:before {
    width: 100%;
    color: #429440;
    text-decoration: none;
    opacity: 1;
}

.header-numbers {
    display: flex;
    flex-flow: column;
}

.logo-img {
    padding: 10px;
    border-radius: 50px;
    width: 100px;
}

.fa-map-marker-alt {
    font-size: 20px;
    color: red;
    padding: 10px;
}

.fa-phone {
    font-size: 20px;
    color: green;
    padding: 10px;
}

.fa-check {
    font-size: 20px;
    color: lawngreen;
    padding: 3px 10px 0 10px;
}

.fa-tools {
    font-size: 20px;
    color: orange;
    padding: 3px 10px 0 10px;
}

.fa-plus {
    border-radius: 50px;
    border: 6px solid;
    color: limegreen;
    font-size: 3em;
    margin-right: 1rem;
    padding: 4px 6px;
}

.fa-cog {
    font-size: 15px;
    padding: 5px 10px;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fa-whatsapp {
    font-size: 20px;
    color: #00E676;
    padding: 10px;
}

.fa-check-circle {
    color: limegreen;
    font-size: 4em;
    margin-right: 1rem;
}

.red-number {
    border-radius: 50px;
    background: #22b259;
    padding: 0 8px 0 8px;
    color: #fff;
    font-weight: 600;
    margin-right: 10px;
}

.fa-arrow-left,
.fa-arrow-right {
    color: #fff;
    background: #22b259;
    padding: 4px 30px;
    border-radius: 5px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus {
    outline: none;
}

.phone-bg {
    transition: .3s;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #bbdae0;
    border-radius: 5px;
    padding: 0 10px 0 0;
    color: #fff;
    background: linear-gradient(to top, rgba(29, 19, 19, 0.7), rgba(1, 0, 0, 0.4));
}

.phone-bg:hover {
    color: #fff;
    text-decoration: none;

}

#videos video {
    width: 300px;
    height: 300px;
    margin: auto;
}

.my-input {
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

.my-input:focus {
    outline: none;
}

.form-btn {
    background: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}

.topbutton {
    transition: .3s;
    z-index: 10;
    border: 2px solid #ccc;
    background: #f7f7f7;
    padding: 10px 13px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    border-radius: 50px;
    opacity: 0;
}

.fa-arrow-up {
    font-size: 20px;
}
