* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    scroll-behavior: smooth;
}

.section-padding {
    padding: 1em 0;
}

.padding-h1-lines {
    position: relative;
    margin-bottom: 2em;
}

.padding-h1-lines:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 5px;
    background: black;
    opacity: 0.5;
    bottom: -15px;
    left: 50%;
    margin-left: -50px;
}

.padding-h1-lines:after {
    position: absolute;
    content: "";
    width: 70px;
    height: 4px;
    background: black;
    opacity: 0.5;
    bottom: -30px;
    left: 50%;
    margin-left: -35px;
}

.margin-top-25px {
    margin-top: -25px;
}

.bg-img {
    background-size: cover;
    background-image: url("../../src/images/repair-img.jpg");
    background-position: center;
    width: 100%;
    height: 250px;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-links li {
    margin: 0 10px;
}

.header-links li a {
    position: relative;
    color: #429440;
    transition: .3s;
}

.header-links li a:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    background: #23408C;
    bottom: -5px;
    transition: .3s;
    opacity: 0;

}

.header-links li a:hover {
    color: #429440;
    text-decoration: none;
    opacity: 1;
}

.header-links li a:hover:before {
    width: 100%;
    color: #429440;
    text-decoration: none;
    opacity: 1;
}

.header-numbers {
    display: flex;
    flex-flow: column;
}

.logo-img {
    width: 100px;
}

.fa-map-marker-alt {
    font-size: 20px;
    color: red;
    padding: 10px;
}

.fa-phone {
    font-size: 20px;
    color: green;
    padding: 10px;
}

.fa-check {
    font-size: 20px;
    color: lawngreen;
    padding: 0 10px;
}

.fa-angle-double-right {
    font-size: 20px;
    color: lawngreen;
    padding: 10px;
}

.fa-dot-circle {
    font-size: 15px;
    padding: 5px 10px;
}

.fa-whatsapp {
    font-size: 20px;
    color: #00E676;
    padding: 10px;
}

.red-number {
    padding: 0 10px;
    color: red;
    font-weight: 600;
}

.fa-arrow-left,
.fa-arrow-right {
    color: #fff;
    background: #22b259;
    padding: 4px 30px;
    border-radius: 5px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus {
    outline: none;
}

.phone-bg {
    margin-bottom: 5px;
    background: inherit;
    border: 1px solid #bbdae0;
    border-radius: 5px;
    padding: 0 10px 0 0;
}

.phone-bg:hover {
    text-decoration: none;
}

#videos video {
    width: 300px;
    height: 300px;
    margin: auto;
}
.form-btn{
    background: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
}